streamlit
pandas
configparser
langchain-openai
langchain-core
langchain
sounddevice
scipy
SpeechRecognition
paddleocr
sentence-transformers
transformers==4.36.2
faiss-cpu
numpy
jax==0.4.23
jaxlib==0.4.34
accelerate
huggingface_hub
sentencepiece
langchain-community
streamlit-audiorecorder
torch
PyPDF2
python-docx
streamlit-webrtc
whisper
paddlepaddle
soundfile
av